<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Print Card Template</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/img/Hyosung_logo_11.png">
    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="~/Content/paper.css">
    <link href="~/Content/assets/css/theme-1/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-1/materialadmin.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-1/material-design-iconic-font.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-1/font-awesome.min.css?1422529194" />
    <!-- Set page size here: A5, A4 or A3 -->
    <link href="~/Content/paper.css" rel="stylesheet" />
    <!-- Set also "landscape" if you need -->
    @Scripts.Render("~/bundles/common")
</head>



@RenderBody()


</html>